@import "tailwindcss";
@import "@splidejs/react-splide/css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600;700&display=swap");

@theme {
  --font-Montserrat: "Montserrat", sans-serif;
}

@theme {
  --font-Poppins: "Poppins", sans-serif;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer components {
  .max-width {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
